.modal__edit-submit {
    border: none;
    width: 150px;
    height: 36px;
    margin-top: 8px;
    padding: 8px 16px;
    font-family: "Cabinet Grotesk";
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}
  
.modal__edit-submit:hover {
    opacity: 0.6;
    transition: 0.5s;
}
  
.modal__edit-submit_disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
  
.modal__edit-submit_disabled:hover {
    opacity: 0.3;
    cursor: not-allowed;
}