.modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 28px;
    border-radius: 20px;
    width: 498px;
    height: auto;
    z-index: 1000;
}

.modal__close-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal__close-button-image {
    width: 16px;
    height: 16px;
}

.modal__image {
    width: 498px;
    height: 498px;
    border-radius: 10px;
    object-fit: cover;
}

.modal__name {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 12px;
    font-weight: 700;
    color: black;
}

.modal__weather {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    color: black;
}

.modal__temperature {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: black;
}


/* .modal__container {
    width: 498px;
    height: 610px;
}

.modal__close-button-image {

}

.modal__name {

    height: 24px;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.modal__image {
    width: 498px;
    height: 498px;
}

.modal__close-button {
    background-color: #fff;
    height: 16px;
    width: 16px;
    position: absolute;
}

.modal__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
}

.modal__close-container {
    background: transparent;
    height: 16px;
    width: 16px;
    border: none;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
} */