@font-face {
    font-family: "CabinetGrotesk";
    src: url("../../assets/CabinetGrotesk-Bold.otf") format("woff2"),
         url("../../assets/CabinetGrotesk-Extrabold.otf") format("woff");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "CabinetGrotesk";
    src: url("../../assets/CabinetGrotesk-Medium.otf") format("woff2"),
         url("../../assets/CabinetGrotesk-Regular.otf") format("woff");
    font-weight: 500;
  }

  body {
    margin: 0;
    min-width: 320px;
  }

.header {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px 0;
    font-size: 20px;
    font-family: "CabinetGrotesk", sans-serif;

    /* font-weight: bold; */

}

.header a {
    text-decoration: none;
    color: inherit;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left a {
    text-decoration: none;
}

.header-center {
    font-family: "CabinetGrotesk", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.header-right {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0;
    overflow: hidden;
    margin-left: auto;
}

.header-right a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.header-right a .header__username {
    margin: 0;
}

.header-right a .header__avatar {
    width: 40px;
    height: 40px;
}

.header__username {
    color: black;
    gap: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.header__username:hover {
    text-decoration: underline;
}

.header__avatar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__add-clothes-button {
    background-color: #f3f3f3;
    color: black;
    font-weight: 700;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    /* border-radius: 4px; */
    border: none;
    padding: 8px 16px;
    font-family: "CabinetGrotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer
    
}

.header__add-clothes-button:focus {
    outline: none;
}

.header__add-clothes-button:hover {
    /* background-color: rgba(0, 0, 0, 0.1); */
    text-decoration: underline;
}

.header__toggle-switch input[type="checkbox"] {
    display: none;
}

.header__toggle-switch .header__toggle {
    display: inline-block;
    width: 56px;
    height: 28px;
    background-image: url('../../assets/toggle_state_farh.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* .header__toggle-switch .header__toggle:hover {
    background-image: url('../../assets/toggle_state_farh_hover.svg');
} */

.header__toggle-switch input[type="checkbox"]:checked + .header__toggle:hover {
    background-image: url('../../assets/toggle_state_farh_hover.svg');
}


/* .header__toggle-switch input[type="checkbox"]:not(:checked) + .header__toggle:hover {
    background-image: url('../../assets/toggle_state_celcious_hover.svg');
} */

.header__logo {
    height: 40px;
    width: 89px;
}

.date {
    font-family: "CabinetGrotesk", sans-serif;
    font-weight: 700;
    size: 20px;
    line-height: 24px;
    color: black;
}

