.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: white;
    padding: 28px;
    border-radius: 20px;
    width: 498px;
    height: auto;
    z-index: 1000;
    position: relative;
}

.modal__close-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.modal__close-button-image {
    width: 16px;
    height: 16px;
    background-color: transparent;
}

.modal__image {
    width: 100%;
    /* width: 498px; */
    height: 610px;
    object-fit: cover;
    border-radius: 10px;
}

.modal__name {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 12px;
    font-weight: 700;
    color: black;
}

.modal__weather {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    color: black;
}

.modal__delete-button {
    position: absolute;
    bottom: 68px;
    right: 32px;

    color: rgba(255, 77, 0, 1);
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border: none;
}

.modal__delete-button:focus {
    outline: none;
}

.modal__delete-button:hover {
    cursor: pointer;
    text-decoration: underline;
}



